.mail-contact {
    margin: 0;
    padding: 20px;
    font-family: 'Playfair Display', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Use min-height to allow for more content */
    /* background: linear-gradient(135deg, #fad0c4 0%, #ffd1ff 100%); */
    background-color: black;
    z-index: -1000;
}
.border-container {
    width: calc(60% + 10vw); /* Adjusts width based on viewport width */
    max-width: 100%; /* Ensures it doesn't exceed 100% */
    /* padding: 20px; */
    display: flex;
    justify-content: center;
    height: auto; /* Allow height to adjust based on content */
    position: relative;
    z-index: 101;
}



@media screen and (max-width: 768px) {
    .border-container {
        width: calc(90% + 5vw); /* Adjusts width based on viewport width */
    }
}

@media screen and (max-width: 450px) {
    .border-container {
        width: 100%; /* Full width for very small screens */
    }
}
.container-mail{
    height: auto; /* Allow height to adjust based on content */
    padding: 0px;
    border: 1px solid black; /* Added border */
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 101;
}
.container-inside{
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Allow it to grow and fill available space */
    padding: 20px;
    /* justify-content: space-between; */
}
.container-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.container-header h1{
    margin-block-start: 0px;
    margin-block-end: 0px;
    width: fit-content;
    text-align: center;
    font-family: 'Cinzel Decorative', serif;
    font-size: 3em;
    padding-top: 50px;
}
.container-others{
    width: 100%;
    max-width: 100%;
    padding-top: 80px;
    padding-bottom: 40px;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* justify-content: space-between; */
    /* gap: 80px; */
}

@media screen and (max-width: 768px) {
    .container-others{
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .container-others{
        width: 100%; /* Full width for very small screens */
    }
}

.group-form {
    display: flex;
    /* flex: 1; */
    flex-basis: 67%;
    align-items: center;
    border: none; /* Removed border */
    width: 50%;
    align-self: center;
    height: 64px;
}

.group-form input[type="text"],
.group-form input[type="email"] {
    border: 1px solid red; /* Added border */
    padding: 10px 20px;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    color: #fdfdfd;
    flex: 1;
    text-align: center;
    min-width: 0; /* Allows inputs to shrink */
    height: 64px;
}
.container-others textarea{
    border: 1px solid red; /* Added border */
    padding: 10px 20px;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    color: #fdfdfd;
    flex: 1;
    text-align: center;
    min-width: 0; /* Allows inputs to shrink */
    height: 128px;
    border-radius: 50px;
    resize: none;

    width: 70%;
    place-self: center;
    align-content: center;
}

.group-form input[type="text"] {
    border-radius: 50px 0 0 50px;
    border-right: 1px dashed red;
}
.group-form input[type="email"] {
    border-radius: 50px 50px 50px 50px;
    /* border-left: none; */
}

.group-form input::placeholder {
    color: #888;
}
.container-others form button {
    border: 1px solid red;
    background-color: black;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 16px;
    color: red;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Added transform transition */
    flex-shrink: 0; /* Prevents button from shrinking */
    width: auto;
    height: 64px;
    flex-basis: 30%;
    flex-grow: 1;
}
.container-others form button{

}

.container-others form button:hover {
    background-color: red; /* Change background color on hover */
    color: white; /* Change text color on hover */
    transform: scale(1.1); /* Scale button on hover */
}

.container-others form {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to the next line */
    gap: 10px; /* Reduced gap for smaller screens */
    width: 70%; /* Ensures form takes full width */
    align-self: center;
    align-items: center; /* Align items vertically in the center */
}

@media screen and (max-width: 768px) {
    .container-others form {
        flex-direction: row; /* Stack inputs and button vertically */
        align-items: stretch; /* Ensure full width */
        gap: 30px;
    }
    .group-form input{
        flex-grow: 1;
    }
    .group-form input[type="text"]{
        border-right: 1px solid red;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        width: 100%;
    }
    .group-form input[type="email"]{
        border-left: 1px solid red;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        width: 100%;
    }
    .group-form{
        flex-basis: 100%;
        flex-direction: column;
        gap: 20px;
    }
    .container-others p{
        font-size: 20px !important;
        width: 100% !important;
    }
    .container-others form button{
        flex-grow: 1;
    }

    .group-form,
    .container-others form button {
        width: 100%; /* Full width for each element */
        margin-bottom: 10px; /* Add space between stacked elements */
    }
    .container-header h1{
        font-size: 2em;
    }
}

.container-others p{
    width: 70%;
    align-self: center;
    text-align: -webkit-center;
    font-size: 24px;
    line-height: 1.5; /* Adjust line height as needed */
    min-height: calc(3 * 1.5em); /* Ensures a minimum of 3 lines */
    margin-block-end: 0px;
}

.privacy-policy{
    margin-top: auto;
}


.container-inside{
    /* background: linear-gradient(135deg, #fad0c4 0%, #ffd1ff 100%); */
    background: black;
}

.container-mail::before, .container-mail::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(235deg, #e81f1f,#060c21,#530404);
    background-size: 400%;
    width: calc(100%);
    height: calc(100%);
    z-index: 100;
    animation: animate 20s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.container-mail::after {
    -webkit-filter: blur(40px);
    /* opacity: 0.80; */
}

.container-inside{
    z-index: 10000;
}
.mail-contact h1, .mail-contact p{
    color: red;
}
.mail-icerik{
    display: flex;
    flex-direction: column;
}
.mail-icerik textarea{
    margin-top:20px;
}
@media screen and (max-width: 768px) {
    .mail-icerik form .group-form{
        order: 1;
    }
    .mail-icerik form button {
        order: -1;
    }
    .mail-icerik textarea{
        order: 0;
    }
}