@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/eur42');
body{
    font-family: Poppins;
    margin: 0;
    /* background-color: #010101; */
    /* color: #eee; */
}

.slider{
    height: auto;
    position: relative;
}
.slider .list{
    height: auto;
}
.slider .list .item{
    display: none; /* Hide all items by default */
    overflow: hidden;
    opacity: 0;
    transition: .5s;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    height: auto;
    background-color: black;
}
.kitap-slider{
    max-width: 400px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateY(30px);
    filter: blur(20px);
    animation: showImage .5s .3s ease-in-out 1 forwards;
}

.slider .list .item .content{
    z-index: 1;
    height: 50%;
    width: 50%;
    margin: 20px;
}
.slider .list .item .content p:nth-child(1){
    text-transform: uppercase;
    letter-spacing: 10px;
}
.slider .list .item .content h2{
    font-size: 20px;
}
.slider .list .item.active{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    opacity: 1;
    z-index: 10;
}
@keyframes showContent {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}
@keyframes showImage {
    to {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}
.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(2),
.slider .list .item.active p:nth-child(3){
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .3s ease-in-out 1 forwards;
}
.slider .list .item.active h2{
    animation-delay: 0.5s;
}
.slider .list .item.active p:nth-child(3){
    animation-duration: 1.3s;
}

.arrows {
    position: absolute;
    top: 47%;
    width: 100%; /* Ensure the arrows are positioned relative to the full width */
    z-index: 100;
}

#prev {
    position: absolute;
    left: 10px; /* Position the prev element 10px from the left */
}

#next {
    position: absolute;
    right: 10px; /* Position the next element 10px from the right */
}

.arrows h1 {
    background: linear-gradient(0deg, white 45%, white 35%);
    background-clip: text;
    color: transparent;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 6rem; /* Increase the font size */
    transition: transform 0.5s, background-size 0.5s, background-position 0.5s;
    background-size: 100% 100%;
    background-position: 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; /* Ensure it looks clickable */
    margin: 0; /* Remove default margin */
    line-height: 40px; /* Center text vertically */
}

.arrows h1:hover {
    transform: scale(1.5);
    background-size: 100% 200%;
    background-position: 0 100%;
}

@media screen and (max-width: 768px) {

    .slider .list .item .content h2{
        font-size: 60px;
    }
    .arrows{
        top: 10%;
    }
    .slider{
    }
    .slider .list .item{
    }
    .arrows{
        display: none;
    }
}

.slider .list .item{
    padding: 35px;
    padding-left: 48px;
    padding-right: 48px;
}
.slider .list .item .content3{
    padding: 0px;
}
.item {
    position: relative;
    overflow: hidden;
}

.slider-background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    /* opacity: 0.4; */
    object-fit: cover;
    object-position: bottom;
    background-color: white;
    animation: fadeInBlur 0.7s ease-in-out forwards; /* Apply the new animation */
    }
    @keyframes fadeInBlur {
        from {
            filter: blur(20px);
            opacity: 0;
        }
        to {
            filter: blur(0);
            opacity: 1;
        }
    }

.content3 {
    position: relative;
    z-index: 1; /* Ensure content is above the background image */
    border-radius: 0px;
}

.slider .list .item .content3 h2{
    text-align: center;
    font-family: 'Cinzel Decorative', serif;
}
.slider .list .item .content3 p{
    color: white;
    font-family: 'EUR42', sans-serif;



    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), -2px -2px 5px rgba(0, 0, 0, 0.5);
}
.slider .list .item .content3{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.content3-left-side{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    
}
.content3-left-side p {
    text-align: center;
    width: 80%; 
    align-self: center;
}
@media screen and (max-width: 768px) {
    .content3-left-side p {
        width: 90%;
    }
}


@media screen and (max-width: 768px) {
    .slider .list .item{
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 45px;
        padding-top: 0px;
    }
    .slider-background-image{
        object-fit: cover !important;
    }
}
.slider .dots{
    z-index: 1000;
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.slider .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.slider .dots li.active{
    width: 30px;
}
.content3-left-side p{
    /* font-family: 'EUR42', sans-serif; */
}


@media screen and (min-width: 768px) {
    .list .item:nth-child(1) .content3-left-side p {
        margin-bottom: 80px;
    }
}





